<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{decorators/template}"
>
    <head>
        <title></title>
    <body>
    	<section layout:fragment="content">
    		<div class="d-flex justify-content-between align-items-center">
    			<h1>Usuário</h1>
    		</div>
	        <table class="custom-table">
		        <thead>
		        	<tr>
		        		<th scope="col">Email</th>
		        		<th class="fixed-cell" scope="col">Ações</th>
		        	</tr>
		        </thead>
		       	<tbody>
			       	<tr th:each="usuario: ${usuarioLista}">
			       		<td th:text="${usuario.email}">></td>
			       	
			       		<td class="text-center">
			       			<a class="btn btn-sm" th:href="@{/view/{id}(id=${id})}"><i class="bi bi-search"></i></a>
			       		</td>
			       	</tr>
		       	</tbody>
	       	</table>
       	</section>
    </body>
</html>