/* BODY */

body{
	margin: 0;
	padding: 0;
}

/* HEADER */

header{
	background-color: beige;
}

.nav li a,button {
  color: #000 !important;
}

.nav a:hover {
  background: burlywood;
}

.logo{
	width: 40px; 
	height: auto;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}


.menu li  ul{
	position:absolute;
	left: 0;
	padding: 0;
	background-color:#fff;
	display:none;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
	border:1px solid #c0c0c0;
	display:block;
	width:150px;
}

/* Inputs*/

input, select{
	border-color: #beee !important;
	border-width: 1px;
}

/* Buttons */
.btn{
	background: mediumaquamarine;
	color: black;
	padding: 5px 8px;
	border-radius:7px;
	text-decoration: none;
	border: 1px solid green;
}

.btn-sm{
	height: 30px;
}

.btn:hover{
	background-color:aquamarine;
}

/* Table */

.custom-table{
	min-width: 100%;
	border: 1px solid;
}

.custom-table>thead{
	background-color: #555555;
	color: white;
}


.custom-table td{
	height: 35px;
	border: 1px solid;
}

.fixed-cell{
	width: 80px;
	
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

/* List View */



.navbar li a:hover {
  background-color: #111111;
}

/* CONTAINER */
.container{
	min-height: calc(100vh - 115px);
	max-width: 1200px;
	margin: auto;
}

/* FOOTER */

footer{
	background: lightgray;
	padding: 20px 0px;
	bottom: 0;
	margin-top: 10px;
	width: 100%;
	text-align: center;
	
}

/* FORMS */

.form-container{
	position: relative;
	top: 20vh;
	padding: 10px 30px;
	margin: 0 auto;
	
	background-color: #fff;
	border-radius: 4.2px;
	box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);	
}


.success{
	background-color: blue;
	color: white;	
	padding: .2rem;
	border: 1px solid black;
}
		
		
.error{
	background-color: red;
	color: white;	
	padding: .2em;
	border: 1px solid black;
}

.field-error{
	display: block;
	color: red;	
}