<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorators/login_template}">
    <head>
        <title></title>
    </head>
    <body>
	    <div id="container">
	    	<section layout:fragment="content">
	    		<h3>Cadastro</h3>
	    		<hr />
		       	<form th:object="${usuario}" th:action="@{/cadastro}" method="post">
		       		<input type="hidden" th:field="*{id}"/>
		       		<div class="form-input">
		       			<label for="nome">Email: </label>
		       			<input type="text" class="form-control" th:field="*{email}">
		       			<span th:if="${#fields.hasErrors('email')}" class="field-error"  th:errors="*{email}"></span>
		       		</div>
		       		<div class="form-input">
		       			<label for="nome">Senha: </label>
		       			<input type="password" class="form-control" th:field="*{senha}">
		       			<span th:if="${#fields.hasErrors('senha')}" class="field-error"  th:errors="*{senha}"></span>
		       		</div>
		       		<div class="button-group">
		       		
		       		<input id="btn-action"  type="submit" th:value="|${id != null ? 'Salvar' : 'Cadastrar'}|" />
	       			<a class="secondary-link" th:href="@{/}">Voltar</a>
		       		</div>
		       	</form>
	       	</section>
       	</div>
    </body>
</html>