<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{decorators/login_template}">
<head>
<title>Spring Security Example</title>

</head>
<body>
	<div id="container">
    	<section layout:fragment="content">
			<span class="login-error" th:if="${param.error}"> Usuário ou
				senha incorretos </span> <span class="login-error" th:if="${param.logout}">
				You have been logged out. </span>
			<h3>Login</h3>
			<hr />
			<form th:action="@{/login}" method="post">
				<div class="form-input">
					<label> User Name : </label> <input type="text" class="form-control" name="username" />
				</div>
				<div class="form-input">
					<label> Password:</label> <input type="password" class="form-control" name="password" />
				</div>
				<div class="button-group">
	            	<input id="btn-action" type="submit" value="Login"/>
	            	<a class="secondary-link" th:href="@{/cadastro}" type="submit">Não tem conta? cadastre-se aqui</a>
	            	<a class="secondary-link" th:href="@{/caixa}" type="submit">Acessar sem login</a>
	            </div>
	           
			</form>
		</section>
	</div>
</body>
</html>